.collapse-container {
    width: 100%;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-primary);
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    
}

.collapse-content {
    color: var(--color-primary);
    line-height: 1.5em;
    font-size: 1rem;
    padding: 10px;
    background: #F6F6F6;
    letter-spacing: 1px;
}

.collapse-content p {
    font-weight: 300;
}

.arrow-up {
    transform: scale(0.5);
}

.arrow-down {
    transform: scale(0.5) rotate(180deg);
}

@media screen and (max-width: 800px) {
    .collapse-header {
        font-size: 0.7rem;
    }

    .collapse-content {
        font-size: 0.6rem;
    }
}