.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.logo-header {
    width: 210px;
}

.header-nav {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    .navbar {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .header-nav {
        width: auto;
        font-size: 0.8rem;
        gap: 10px;
    }

    .logo-header {
        width: 150px;
    }
}