.tag {
    background: var(--color-primary);
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}