html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #FF6060;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: unset;
}


a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  border: unset;
  background: unset;
  padding: unset;
}

button:hover {
  cursor: pointer;
}

ul {
  padding: unset;
  margin: 0.5em;
}

li {
  list-style: none;
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
}

